<h3>My Wallet</h3>
<br/>

<div class='accountBalance'>
    Currently in your wallet you got <b><%= number_to_currency((current_user.wallet || 0), unit: "") %> zł</b>.
</div>

<div class='lineBreak'></div>

<%= form_tag(wallet_path, method: "post") do %>
    <div class='topUpYourAccount'>
        Top up your account
        <div class="field form-group row">
            <div class="col-2">
                Amount
            </div>
            <div class="input-group col-2">
                <%= number_field(:amount, "amount", :class => 'form-control', :step => "0.1") %>
                <span class="input-group-addon">zł</span>
            </div>
        </div>
        <div class="actions">
            <%= submit_tag("Add") %>
        </div>
    </div>
<% end %>
