<div class="container">
    <% if (showFilter) %>
        <div class="field form-group row">
            <div class="col-4" style="vertical-align: middle;">
                <label><input type="checkbox" class="showFilters" /> Show filters</label>
            </div>
        </div>
        <div class="filtersContent" style="display: none;">
            <div class="field form-group row">
                <div class="col-2" style="vertical-align: middle;">
                    Date from
                </div>
                <div class="col-2">
                    <input class='date_from form-control' type='date' />
                </div>
            </div>
            <div class="field form-group row">
                <div class="col-2" style="vertical-align: middle;">
                    Date to
                </div>
                <div class="col-2">
                    <input class='date_to form-control' type='date' />
                </div>
            </div>
            <div class="field form-group row">
                <div class="col-2" style="vertical-align: middle;">
                    Artist
                </div>
                <div class="col-2">
                    <input class='artist form-control' />
                </div>
            </div>
        </div>
        <br/>
    <% end %>
    <div class="row">
        <% events.each do |event| %>
            <% if (!event.eighteen_years_old || (user_signed_in? && current_user.eighteen_years_old)) %>
                <div class="card" style="margin: 0 auto; border: 0px;">
                    <%= image_tag event.image.url, :class => "card-img-top", :style => "max-height: 225px;" %>
                    <div class="card-body" style="padding: 10px;">
                        <span class="eventArtist"><%= event.artist %></span> <br/>
                        Event date: <span class="eventDate"><%= event.event_date %></span> <br/>
                        Price: <%= calculateEventPrice(event) %> <br/>
                        <% if(ticketsLeft(event) > 0) %>
                            Tickets left: <%= ticketsLeft(event) %>
                        <% else %>
                            Tickets sold out!
                        <% end %>
                        <br/><br/>
                        <%= link_to 'Show', event, :class => "btn btn-primary" %>
                    </div> 
                </div>
            <% end %>
        <% end %>
    </div>
</div>