<%= form_with(model: event, local: true, html: { multipart: true }) do |form| %>
    <% if event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
  
        <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field form-group row">
      <div class="col-2">
        <%= form.label :artist %>
      </div>
      <div class="col-8">
        <%= form.text_field :artist, id: :event_artist, :class => 'form-control' %>
      </div>
    </div>
  
    <div class="field form-group row">
      <div class="col-2">
        <%= form.label :description %>
      </div>
      <div class="col-8">
        <%= form.text_field :description, id: :event_description, :class => 'form-control' %>
      </div>
    </div>
  
    <div class="field form-group row">
      <div class="col-2">
        <%= form.label :price_low %>
      </div>
      <div class="input-group col-2">
        <%= form.number_field :price_low, id: :event_price_low, :class => 'form-control' %>
        <span class="input-group-addon">zł</span>
      </div>
    </div>
  
    <div class="field form-group row">
      <div class="col-2">
        <%= form.label :price_high %>
      </div>
      <div class="input-group col-2">
        <%= form.number_field :price_high, id: :event_price_high, :class => 'form-control' %>
        <span class="input-group-addon">zł</span>
      </div>
    </div>
    
    <div class="field form-group row">
      <div class="col-2">
        <%= form.label :event_date %>
      </div>
      <div class="col-3">
        <%= form.date_field :event_date, id: :event_event_date, :class => 'form-control' %>
      </div>
    </div>
    
    <div class="field form-group row">
      <div class="col-2">
        <%= form.label :number_of_tickets %>
      </div>
      <div class="col-2">
        <%= form.number_field :number_of_tickets, id: :event_number_of_tickets, :class => 'form-control' %>
      </div>
    </div>
    
    <div class="field form-group row">
      <div class="col-2">
        <%= form.label :start_selling_date %>
      </div>
      <div class="col-3">
        <%= form.date_field :start_selling_date, id: :event_start_selling_date, :class => 'form-control' %>
      </div>
    </div>

    <div class="field form-group row">
      <div class="col-4">
        <%= form.check_box :eighteen_years_old%>
        <%= form.label :eighteen_years_old_required%>
      </div>
    </div>
    
    <div class="field form-group row">
      <div class="col-5">
        <%= form.file_field :image, :class => 'form-control-file' %>
      </div>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  