<%= javascript_include_tag "/javascript/events.js" %>

<h3>Events</h3>
<br/>
<%= render 'events/events_list', events: Event.where("event_date >= ?", Date.today).where("start_selling_date <= ?", Date.today), showFilter: true %>
<br/>

<% if (user_signed_in? && current_user.admin) %> 
  <h3>Archival events</h3>
  <br/>
  <%= render 'events/events_list', events: Event.where("event_date < ?", Date.today), showFilter: false %>
  <br/>
  <%= link_to 'New event', new_event_path, :class => 'btn btn-primary' %>
<% end %>