<%= javascript_include_tag "/javascript/events.js" %>
<%= render 'tickets/new_ticket', ticket: @ticket, reservedPlaces:  Ticket.where(event_id: params[:id]).where(status: [1,2]).pluck(:seat_id_seq), actionPath: "/events/#{params[:id]}/newTicket"%>