<div class="container">

  <div class="row justify-content-center">
    <div class="col-4">
      <%= image_tag @event.image.url, :size => "320x225" %>
    </div>
  </div>

  <br/>
  <div class="row  justify-content-center">
    <div class="col-2">
      <strong>Artist:</strong>
    </div>
    <div class="col-2">
      <%= @event.artist %>
    </div>
  </div>


  <div class="row justify-content-center">
    <div class="col-2 offset-md-4">
      <strong>Description:</strong>
    </div>
    <div class="col-6">
      <%= @event.description %>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-2">
      <strong>Price:</strong>
    </div>
    <div class="col-2">
      <%= calculateEventPrice(@event) %>zł
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-2">
      <strong>Event date:</strong>
    </div>
    <div class="col-2">
      <%= @event.event_date %>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <% if(ticketsLeft(@event) > 0) %>
      <div class="col-2">
        <strong>Tickets left:</strong>
      </div>
      <div class="col-2">
        <%= ticketsLeft(@event) %>
      </div>
    <% else %>
      <div class="col-4 text-center">
        Tickets sold out!
      </div>
    <% end %>
  </div>

  <% if (user_signed_in? && current_user.admin) %>
    <br/>
    <div class="field form-group row col-7  justify-content-center" style="margin: 0 auto; max-height: 300px; overflow-y: auto;">
      <% (0..@event.number_of_tickets-1).each do |i| %>
        <% @seatNumber = "#{(65 + i / 10).chr}#{i -  (i / 10) * 10}" %>
        <% @currentTicket = (@reservedPlaces.select{|place| place[0] == @seatNumber}).first %>
        <div seat_number="<%= @seatNumber %>" class="card seat<%= (@currentTicket != nil) ? ' reserved' : ''%>">
          <div class="card-body" style=" display: table-cell; vertical-align: middle; text-align: center;">  
            <% if @currentTicket != nil %>
              <%= link_to ticket_url(@currentTicket[1]) do %>
                <%= @seatNumber %>
              <% end %>
            <% else %>
              <%= @seatNumber %>
            <% end %>
          </div>
        </div>    
      <% end %>
    </div>
  <% end %>

  <div class="row justify-content-center">
    <div class="col-4 text-center">
      <% if (user_signed_in? && @event.event_date >= Date.today && ticketsLeft(@event) > 0) %> 
        <br/>
        <%= link_to 'Buy ticket', "/events/#{@event.id}/newTicket", :class => 'btn btn-primary' %>
        <% if current_user.admin %>
          <%= link_to 'Modify', "/events/#{@event.id}/edit", :class => 'btn btn-primary' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<br/><br/>
<%= render 'tickets/tickets_list', tickets: Ticket.where(event_id: @event.id) %>

