<%= form_with(model: ticket, local: true, url: actionPath) do |form| %>
    <% if ticket.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>
  
        <ul>
        <% ticket.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field form-group row">
      <div class="col-2">
        <%= form.label :address, :class => 'col-form-label'  %>
      </div>
      <div class="col-8">
        <%= form.text_area :address, id: :ticket_address, :class => 'form-control' %>
        </div>
    </div>
  
    <div class="field form-group row">
      <div class="col-2">
        <%= form.label :price, :class => 'col-form-label'  %>
      </div>
      <div class="input-group col-3">
        <%= form.number_field :price, id: :ticket_price, :class => 'form-control', :step => 0.01, :value => 0.00, :readonly => true, :cost_per_ticket => calculateEventPrice(Event.find(params[:id])) %>
        <span class="input-group-addon">zł</span>
      </div>
    </div>
    
    <div class="field form-group row">
      <div class="col-2">
        <%= form.label :email_address, :class => 'col-form-label'  %>
      </div>
      <div class="col-8">
        <%= form.text_field :email_address, id: :ticket_email_address, :class => 'form-control', :value => current_user.email, :readonly => true %>
      </div>
    </div>
    
    <div class="field form-group row">
      <div class="col-2">
        <%= form.label :phone, :class => 'col-form-label'  %>
      </div>
      <div class="col-8">
        <%= form.text_field :phone, id: :ticket_phone, :class => 'form-control' %>
      </div>
    </div>
    
    <div class="field form-group row">

        <% if (actionPath.include? "tickets") %>
            <div class="col-2">
              <%= form.label :event_id, id: :ticket_event_id, :class => 'col-form-label' %>
            </div>
            <div class="col-8">
              <%= form.collection_select :event_id, Event.all.select("artist, id"), :id, :artist, {}, {class: 'form-control'}%>
            </div>
        <% else %>
            <%= form.hidden_field :event_id, id: :ticket_event_id%>
        <% end %>
    </div>

    <div class="field form-group row col-6" style="margin: 0 auto; max-height: 300px; overflow-y: auto;">
        <%= form.hidden_field :seat_id_seq, id: :ticket_seat_id_seq %>
        <% (0..Event.find(params[:id])['number_of_tickets']-1).each do |i| %>
          <% @seatNumber = "#{(65 + i / 10).chr}#{i -  (i / 10) * 10}" %>
          <div seat_number="<%= @seatNumber %>" class="card seat<%= (reservedPlaces.include?(@seatNumber)) ? ' reserved' : ''%>">
            <div class="card-body" style=" display: table-cell; vertical-align: middle; text-align: center;">  
              <%= @seatNumber %>
            </div>
          </div>    
        <% end %>
    </div>
    <div class="actions">
      <% if (actionPath.include? "events") %>
        <%= link_to 'Back', "/events/#{params[:id]}", :class => 'btn btn-primary'%>
      <% end %>
      <%= form.submit %>
    </div>
  <% end %>
  