<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Artist</th>
      <th>Seat id seq</th>
      <th>Address</th>
      <th>Price</th>
      <th>Email address</th>
      <th>Phone</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% tickets.each do |ticket| %>
      <tr class="<%= (ticket.status == 2) ? 'requestForReturn' : (ticket.status == 3) ? 'returned' : ''%>">
        <td>
          <%= link_to event_show_path(ticket.event_id) do %>
            <%= Event.find(ticket.event_id).artist%>
          <% end %>
        </td>
        <td><%= ticket.seat_id_seq %></td>
        <td><%= ticket.address %></td>
        <td><%= ticket.price %></td>
        <td><%= link_to(ticket.email_address, "/user/#{ticket.user_id}/tickets")  %></td>
        <td><%= ticket.phone %></td>
        
        <% if (current_page?(tickets_path) && ticket.status == 1) %>
          <td style="text-align: center;">
            <%= link_to ticket, :class => 'btn-sm btn-primary' do %>
              Show
            <% end %>
          </td>
          <td style="text-align: center;">
            <%= link_to ticket, method: :delete, :class => 'btn-sm btn-danger', data: { confirm: "Are you sure?\nYou will loose #{calculateTheFine(Event.find(ticket.event_id), Date.today)}% of the ticket price." } do %>
              Return
            <% end %>
          </td>
        <% else %>
          <td colspan=2 style="text-align: center;">
            <% if (ticket.status == 2 && user_signed_in? && current_user.admin && currentPath(admin_tickets_path)) %>
              <%= link_to "#{admin_cancel_ticket_path(ticket.id)}", method: :post, :class => 'btn-sm btn-danger', data: { confirm: "Are you sure? The ticket will be returned." } do %>
                Approve
              <% end %>
            <% else %>
                  <%= (ticket.status == 2) ? 'Request waiting for acceptance' : (ticket.status == 3) ? 'Returned' : '' %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
