<div class="container">

  <div class="row justify-content-center">
    <div class="col-2">
      <strong>Artist:</strong>
    </div>
    <div class="col-2">
    <%= link_to event_show_path(@ticket.event_id) do %>
      <%= Event.find(@ticket.event_id).artist%>
    <% end %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-2">
      <strong>Email address:</strong>
    </div>
    <div class="col-2">
      <%= link_to(@ticket.email_address, "/user/#{@ticket.user_id}/tickets") %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-2">
      <strong>Address:</strong>
    </div>
    <div class="col-2">
    <%= @ticket.address %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-2">
      <strong>Phone:</strong>
    </div>
    <div class="col-2">
    <%= @ticket.phone %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-2">
      <strong>Seat in the audience:</strong>
    </div>
    <div class="col-2">
    <%= @ticket.seat_id_seq %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-2">
      <strong>Ticket price:</strong>
    </div>
    <div class="col-2">
    <%= @ticket.price %>
    </div>
  </div>

  <br/>
  <div class="row justify-content-center">
    <div class="col-4 text-center">
      <%= link_to 'Back', tickets_path, :class => 'btn btn-primary' %>
    </div>
  </div>
