/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";
@import "tether";

// .navbar-inverse, .navbar-brand{
//     color: #fff !important;
// }

body{
    min-width: 992px;
    
    button, input[type=button], input[type=submit]{
        @extend .btn;
        @extend .btn-primary;
    }
    
    .btn:visited, .btn-md:visited, .btn-sm:visited{
        color: white;
    }

    a:hover{
        text-decoration: none;
        background-color: transparent;
    }

    .contentContainer{
        width: 90%;
        display: block;
        margin: 3% auto 0 auto;
        border: 1px solid #FFFFFF;
        padding: 10px 20px 10px 20px;
        background-color: #FFFFFF;
        box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 6px 6px 20px 6px rgba(0, 0, 0, 0.19);
    }

    textarea{
        overflow: hidden;
        overflow-y: auto;
    }

    .field_with_errors{
        display: block !important;
        background-color: transparent;
        color: red;

        .form-control, input{
            border-color: red !important;
            width: 100%;
        }
    }

    .lineBreak{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        border: 0.5pt solid silver;
    }

    .card{
        width: 320px;
        flex-wrap: wrap !important;
        flex: initial !important; 
    }
}