// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.seat{
    font-weight: bold;
    width: 50px !important; 
    height: 50px !important; 
    display: table  !important; 
    margin: 5px;
}

.seat:hover:not(.reserved){
    border: 1pt solid #0275d8;
    cursor: pointer;
}

.seat.reserved{
    background-color: #f38370ec;
    color: white;
}

.seat.selected{
    background-color: lightgrey;
}