// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr.requestForReturn{
    td{
        background-color: #F0E68C;
    }
}

tr.returned{
    td{
        background-color: rgba(240, 160, 140, 0.849);
    }
}