// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    background-color: rgb(136, 180, 224) !important;
}

div.userForm{
    width: 600px;
    display: block;
    margin: 3% auto 0 auto;
    border: 1px solid #FFFFFF;
    padding: 10px 20px 10px 20px;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 6px 6px 20px 6px rgba(0, 0, 0, 0.19);

    h2{    
        font-family: ComfortaaBold;
        text-align: center;
        font-size: 1.3em;
        margin-top: 20px;
        color: #2299DD;
    }

    label{    
        font-size: 1.1em;
        margin-bottom: 5px;
        padding-top: 7px;
    }

    input[type=email], input[type=password]{
        width: 100%;
        height: 36px;
        padding: 6px 12px;
        background-color: #fff;
        border: 1px solid #ccd0d2;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    a[href='/users/password/new']{
        float: right;
    }

    // Ukryj przycisk SignUp oraz Br po nim, są to elementy zbędne w formularzu
    a[href='/users/sign_up'], a[href='/users/sign_up'] + br, a[href='/users/sign_in'], a[href='/users/sign_in'] + br, h3, h3 + p, form.button_to, form.button_to + p, p + a{
        display: none;
    }
}