<!DOCTYPE html>
<html>
  <head>
    <title>TicketMaster Bilety na Eventy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='headerContainer'>
      <%= render 'layouts/pageElements/header' %>
    </div>
    <div class='mainContainer'>
      <div class='contentContainer'>
        <%= render '/layouts/pageElements/noticeCatcher' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
